* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

@counter-style section3-list {
    system: fixed;
    symbols: "\2605" "\2713" "\2713" "\2713" "x ";
    suffix: "    ";
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
    }
}

.check {
    color: #f5208e;
}

header {
    background-color: #1e162e;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 30%;
        flex-wrap: wrap;
    }

    a {
        color: white;
        font-size: 1.2rem;
    }

    .download {
        background: linear-gradient(90deg, #7f45d6, #047fd6);
        color: white;
        border: none;
        font-size: 1.2rem;
        padding: 1rem 1.4rem;
        border-radius: .4rem;
    }

    .img {
        width: 14rem;
        height: 6rem;
    }
}

.section1 {
    height: 50rem;
    width: 100%;
    display: flex;


    .bg-violet {
        background-color: #2e244f;
        display: flex;
        align-items: center;
        padding-left: 15%;
        width: 50%;

        .section1-text {
            display: flex;
            gap: 3rem;
            width: 90%;
            flex-direction: column;
            align-items: baseline;
            color: #fff;

            h1 {
                font-size: 6rem;
            }

            p {
                font-size: 1.6rem;
                width: 80%;
            }

            .container-button {
                border: 2px solid #544d70;
                padding: 6px;
                border-radius: .6rem;
                display: flex;
                gap: .6rem;

                button {
                    background: transparent;
                    border: 2px solid white;
                    border-radius: 0.4rem;
                    color: white;
                    padding: 1rem 1.4rem;
                    font-size: 1.6rem;

                    span {
                        background: linear-gradient(to right, #ed66ac, #f51689);
                        font-size: 1.6rem;
                        font-weight: 600;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    &:first-child {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .bg-hoja {
        background-position: center;
        background-size: cover;
        width: 50%;
        height: 100%;
        background-image: url("../assets/imagenes/hojasFondo.jpg");


        .violet-transparent {
            background-color: rgba(27, 0, 61, 0.295);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;

            .img {
                margin-left: 20%;
                width: 30%;
                min-width: 12rem;
            }
        }
    }
}

.section2 {
    padding: 2rem 0 4rem;
    background-color: #f2f3f7;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        color: #f51488;
        font-size: 5rem;
        text-align: center;
        padding-bottom: 2rem;
    }

    .section2-container {
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding: 1rem 0;

        .img {
            align-self: center;
            width: 30%;
            min-width: 28rem;
            height: 30%;
        }

        .section2-text {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h3 {
                margin-bottom: 1rem;
                color: #c24e8a;
                font-size: 4rem;
                font-weight: 400;
            }

            h4 {
                color: #f51488;
                font-weight: 400;
                font-size: 2rem;

                &::before {
                    content: "-- ";
                    font-weight: 700;
                    color: #f51488;
                    padding-right: 4px;
                }
            }

            p,
            ul li {
                font-size: 1.4rem;
                color: #757578;
            }

            ul {
                list-style-image: url("../assets/imagenes/check-circle.svg");
                display: flex;
                flex-direction: column;
                gap: .4rem;

                li {
                    display: flex;

                    img {
                        color: #f51689;
                    }

                    ::before {
                        content: "";
                        padding-left: 6px;
                    }
                }
            }
        }
    }
}

.section3 {
    width: 100%;
    display: flex;
    padding: 4rem 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: #1e162e;

    h2 {
        font-size: 5rem;
        color: #fff;
    }

    >p {
        color: #fff;
        font-size: 1.4rem;
        width: 60%;
    }

    .section3-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4rem;
        flex-wrap: wrap;

        .section3-item {
            background-color: #fff;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            min-width: 20rem;
            width: 20%;
            padding: 1rem 1rem;
            border-radius: .4rem;
            color: #1e162e;

            h6 {
                font-size: 2rem;
            }

            p {
                font-size: 1.4rem;
                hyphens: auto;
                width: 80%;

            }

            .price {
                display: flex;
                align-items: start;
                font-size: 1.4rem;

                span:first-child {
                    font-size: 3rem;
                }
            }

            ul {
                list-style: section3-list;
                font-size: 1.4rem;

                .Gray-li::marker {
                    color: #757578;
                }

                .Pink-li::marker {
                    color: #f51689;
                }

            }

            button {
                color: white;
                border: none;
                font-size: 1.2rem;
                padding: 1rem 1.4rem;
                border-radius: .4rem;
                background-color: #2e244f;
            }

            .button-pink {
                background: linear-gradient(90deg, #eb65aa, #f51488);
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    padding: 2rem 0;
    width: 100%;

    p {
        width: 40%;

        span {
            color: #f51488;
        }
    }


    .footer-links {
        display: flex;
        height: 50%;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .img {
            height: 100%;
        }
    }
}

@media (max-width:1187px) {
    .section1 .bg-violet .section1-text .container-button button {
        padding: .6rem .8rem;
        font-size: 1rem;

        span {
            font-size: 1rem;

        }
    }
}

@media (max-width:1000px) {
    .section3>.section3-container>.section3-item {
        width: 50%;
    }

    .section1 .bg-violet .section1-text {
        h1 {
            font-size: 5rem;
        }

        p {
            font-size: 1.4rem;
        }
    }

    .section1 {
        height: 40rem;
    }

    h2 {
        font-size: 4rem !important;
    }

    .section2-text h3 {
        font-size: 3rem;
    }
}

@media (max-width:910px) {
    .section2 .section2-container .img {
        display: none;
    }

    .section2 .section2-container .section2-text {
        width: 70%;
    }
}

@media (max-width:835px) {}


@media (max-width:696px) {
    .section1 .bg-hoja {
        display: none;
    }

    .section1 {
        .bg-violet {
            width: 100%;
        }
    }

}

@media (max-width:480px) {
    .section3-item {
        width: 100% !important;
        border-radius: 0 !important;
    }

    footer {
        flex-wrap: wrap;

        .footer-links {
            gap: 1rem;

        }
    }

    h2 {
        font-size: 2rem !important;
    }

    .section2 h3 {
        font-size: 1.6rem !important;
    }

    header .download {
        padding: .5rem .7rem !important;
    }

    h1 {
        font-size: 3rem !important;
    }

    header .img {
        width: 10rem;
        height: 5rem;
    }

}